.sign-in{
    width: 30vw;
    display: flex;
    flex-direction: column;

    .title{
       margin: 10px 0; 
    }
    .google-signin{
        margin-left: 10px;
        background-color: #4285f4;
        
    }
}